<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/law.jpg" >
        <link rel="stylesheet" href="/css/styles.css">
<script src="/js/scripts.js"></script>
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/law.jpg" alt="Image">  
        </div>
        {{>footer}}
    </body>
    
       
  
</html> 