<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="./img/law.jpg" >
        <link rel="stylesheet" href="/css/styles.css">
<script src="/js/scripts.js"></script>
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
        
        <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
    
        
   
</html>